.header {
   display: flex;
   max-width: 1184px;
   justify-content: space-between;
   align-items: center;
   margin: 28px auto 56px;
 }
 
 @media screen and (max-width: 1280px) {
   .header {
     max-width: 92.5%;
   }
 }
 
 @media screen and (max-width: 1024px) {
   .header {
     max-width: 90.625%;
     margin-bottom: 4.7%;
   }
 }
 
 @media screen and (max-width: 768px) {
   .header {
     margin-bottom: 6.25%;
     max-width: 93.75%;
   }
 }
 
 @media screen and (max-width: 320px) {
   .header {
     max-width: 90%;
     margin: 5% auto 15%;
   }
 }