.intro__title {
   max-width: 690px;
   margin-top: 92px;
   font-style: normal;
   font-weight: 900;
   font-size: 54px;
   line-height: 1.07;
 }
 
 @media screen and (max-width: 768px) {
   .intro__title {
     max-width: 93.75%;
   }
 }
 
 @media screen and (max-width: 320px) {
   .intro__title {
     max-width: 100%;
     font-size: 10vw;
     line-height: 1.05;
   }
 }